# Deployment Configuration
# Format: repo_name=repository_url
# Lines starting with # are comments and will be ignored

# Docker registry configuration
docker_registry={{cookiecutter.docker_registry}}

# Repository mappings
{%- set repo_urls = cookiecutter.repo_urls.split(',') -%}
{%- set image_names = cookiecutter.image_names.split(',') -%}
{% for i in range(repo_urls|length) %}
{{ image_names[i] }}={{repo_urls[i]}}
{%- endfor -%}
